.custom-banner-section {
  position: fixed;
  right: 0;
  top: 20%;
  z-index: 1000;
}

.custom-side-icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.custom-side-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  padding: 16px 16px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
  overflow: hidden;
  width: 45px;
  white-space: nowrap;
  text-decoration: none;
  color: #000;
  align-self: flex-end;
}

.custom-side-icon:hover {
  width: 160px;
}

.custom-image-icon img {
  width: 24px;
  height: 24px;
}

.custom-label {
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.custom-side-icon:hover .custom-label {
  opacity: 1;
}
