.testimonial-sec {
  overflow: hidden;
  border-top: 1px solid #d9d9d9;
}

.subtitle {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  color: var(--theme_color);
  margin-bottom: 15px;
}

.subtitle::after {
  content: "";
  width: 100px;
  height: 1px;
  background: var(--theme_color);
  display: inline-block;
  transform: translateY(-6px);
  margin-left: 10px;
}

.descs {
  color: #666d74;
}

.ri-google-fill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #1a4578;
  color: #ffc107;
  transition: all 0.3s ease;
}

.section-title {
  font-size: 32px;
  color: var(--black_color);
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: 700;
}

.section-title span {
  color: var(--theme_color);
}

.testimonial-2-title-box p {
  margin-bottom: 37px;
}

.testimonial-2-wrapper {
  padding: 32px 40px !important;
  background: #f9f9f7;
  margin-left: 60px !important;
  border-radius: 12px;
}

.testimonial-review-box {
  display: flex;
  align-items: center;
  padding: 14px 18px;
  border-radius: 3px;
  background: #f9f9f7;
}

.testimonial-review-iocn span {
  font-size: 22px;
  height: 56px;
  width: 56px;
  line-height: 56px;
  text-align: center;
  display: flex;
  color: #ffc107;
  border-radius: 50%;
  margin-right: 15px;
  border: 2px solid var(--theme_color);
  align-items: center;
  justify-content: center;
}

.testimonial-review-content span {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black_color);
  display: inline-block;
  margin-bottom: 6px;
}

.testimonial-review-content .testimonial-ratting i {
  font-size: 18px;
  color: #faa919;
}

.testimonial_item {
  position: relative;
}

.testimonial-item-shape {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  text-align: center;
  top: 0;
  opacity: 0.1;
}

.testimonial-item-shape span {
  font-size: 217px;
}

.testimonial_item p {
  margin-bottom: 25px;
  color: var(--body_text_color);
}

.testimonial-author {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonial-author .testimonial-avater-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonial-avater {
  margin-right: 20px;
}

.testimonial-avater-title {
  font-size: 24px;
}

.testimonial-avater-info span {
  color: var(--theme_color);
}
